body {
    background-color: gray;
}

.center {
    margin-left: auto;
    margin-right: auto;

}

.flex_template {
    display: flex;
    justify-content: space-evenly;
}

.nav_links>div {

    border-radius: 5px;
    padding: 10px;
    background-color: black;
    border: 5px;
    transition: background-color 0.3s ease-in-out;
    color: #ffffff;
}

h1 {
    color: #161616;
    text-align: center;

}

h2 {
    color: #2f2f2f;
    display: flex;
    justify-content: space-evenly;
}

.rotate {
    animation: rotate 2s infinite linear;
}


p {
    color: whitesmoke;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
}



button {

    background-color: #990000;
    border: #660000;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;


    transition: background-color 0.3s ease-in-out;

}


#cancel {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;

}

a,
a:visited {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

    /* padding: .25em; */
    display: inline-block;
}

button:hover {
    background-color: #660000;

}

table {
    color: #fff;
    width: 50%;
}

th,
td {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: left;
    text-align: center;
}

th {
    background-color: #680101;
    color: #fff;
}