{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>Login</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <p class="center">
                <button>Login</button>
                </p>
            </form>
        </div>
    </main>
{% endblock content %}
