{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>SignUp</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class= "button_center">
                <button>Signup</button>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}
