{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'images/jimmy2.0.ico'%}">
        
        <title>Tracker</title>
    </head>
    <body>
        <header>
            
            <nav>
                
                    <div class="flex_template nav_links">
                    {% if user.is_authenticated %}
                        <div>
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </div>
                        <div>
                            <a href="{% url 'list_projects' %}">My projects</a>
                        </div>
                        <div>
                            <a href="{% url 'logout' %}">Logout</a>
                        </div>
                        <div>
                            Greetings {{user.username}}!
                        
                        </div>
                        <form action="{% url 'search' %}" method="get">
                            <input type="text" name="q" placeholder="Search">
                            <input type="submit" value="Search">
                        </form>
                    {% else %}
                        <div>
                            <a href="{% url 'login' %}">Login</a>
                        </div>
                        <div>
                            <a href="{% url 'signup' %}">Signup</a>
                        </div>
                    {% endif %}
                    </div>
                
            </nav>
        
        </header>
    </main>
    {% block content %}
    {% endblock content %}
</main>
</body>
