{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>Create a new task</h1>
            <p class="center">
            <button>
                <a href="{% url 'show_my_tasks' %}">Cancel</a>
            </button>
        </p>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <p class = "center">
                    <button>Create</button>    
            </p>
        </form>
    </main>
{% endblock content %}
