{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>Edit tasks</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <p class="center">
                    <button>Edit</button>
                    <button id="cancel">
                        <a href= "{%url 'show_my_tasks'  %}">Cancel</a>  
                    </button>
                </p>
            </form>
                
                     
        </div>
    </main>
{% endblock content %}