{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>Tasks for {{ show_project.name }}</h1>
            <p>Project Description: {{ show_project.description }}</p>
            
            <h2>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </h2>
            <p>
                <a href= "{%url 'edit_task' show_task.id  %}">Edit task</a>  
            </p>
            <p>
                <a href= "{%url 'delete_task' show_task.id  %}">Delete task</a>  
            </p>   
           
            {% if show_task %}
                <table class="center">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>{{ show_task.name }}</td>
                                <td>{{ show_task.assignee }}</td>
                                <td>{{ show_task.start_date|date:"l M/j" }}</td>
                                <td>{{ show_task.due_date|date:"l M/j" }}</td>
                                <td>{{ show_task.is_completed}}</td>
                            </tr>
                         </tbody>
                </table>
                {% else %}
                <p>This project has no tasks</p>
                {% endif %}
            </div>
    </main>
{% endblock content %}