{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if task_list %}
            <table class="center">
             
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in task_list %}
                        <tr>
                            <td>
                                <a href="{% url 'show_task' task.id %}">
                                {{ task.name }}</td>
                            <td>{{ task.start_date|date:"l M/j"  }}</td>
                            <td>{{ task.due_date|date:"l M/j" }}</td>
                            <td>{{ task.is_completed }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {%else%}
            <p>You have no tasks</p>
          
          {%endif%}
        </div>
    </main>
{% endblock content %}
