{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>Create a new project</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            
                <p class="center">
                    <button>Create</button>
                <button>

            <a href="{% url 'list_projects' %}">Cancel</a>
                </button>
    </p>
</form>
    </main>
{% endblock content %}
