{%extends "base.html"%}

{%block content%}
<main>
    <div>
      <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ project }}"?</p>
        {{ form.as_p }}
        <p class="center">
          <button>Delete</button>
          <button>
            <a href="{% url 'list_projects' %}">Cancel</a>
        </button>
        <p>
      </form>
    </div>
  </main>
{%endblock content%}