{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>Project Title: {{ show_project.name }}</h1>
            
            <h2>Project Description: </h2> <p>{{ show_project.description }}
            </p>
            
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>  
            <p>
                <a href= "{%url 'update_project' show_project.id  %}">Edit project</a>  
            </p>  
            <p>
                <a href= "{%url 'delete_project' show_project.id  %}">Delete project</a>  
            </p> 
            <h2>Tasks</h2>

            {% if show_project.tasks.all %}
                <table class="center">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in show_project.tasks.all %}
                            <tr>
                                <td> 
                                    <a href="{% url 'show_task' task.id %}">
                                    {{ task.name }}
                                </td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date|date:"l M/j" }}</td>
                                <td>{{ task.due_date|date:"l M/j" }}</td>
                                <td>{{ task.comlpeted|yesno:"Yes, Not Yet" }}</td>
                            </tr>
                        {% endfor %}

                        
                    </tbody>
                
                </table>
                {% else %}
                <h2>This project has no tasks</h2>
                {% endif %}
        </div>
    </main>
{% endblock content %}
