{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>Edit project</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <p class="center">
                    <button>Edit</button>
                    <button>
                        <a href="{% url 'list_projects' %}">Cancel</a>
                    </button>
                </p>
            </form> 
        </div>
    </main>
{% endblock content %}