{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p>
            {% if list_projects %}
            <div>  

    
                <table class="center">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for project in list_projects %}
                           
                            <tr>
                                <td>
                                    <div>
                                        {{ project.id }}
                                    </div>    
                                </td>
                                <td>
                                    <a href="{% url 'show_project' project.id %}">
                                        {{ project.name }}
                                    </td>
                                    <td>{{ project.tasks.all|length }}</td>
                            </tr>
                                {% endfor %}
                        </div>
                            {% else %}
                                <p>You are not assigned to any projects</p>
                            {% endif %}
                    </tbody>
                </table>
                <div class="flex_template">
                    </main>
            {% endblock content %}
