{% extends 'base.html' %}
{% load static my_filters %}

{% block content %}
    <h1>Search Results for "{{ search_query }}"</h1>
    <ul>
        {% for obj in matching_objects %}

            <p>
                {% if obj|is_project %}
                <a href="{% url 'show_project' obj.id %}">{{ obj.name }}</a> (Project)
            {% elif obj|is_task %}
                <a href="{% url 'show_task' obj.id %}">{{ obj.name }}</a> (Task)
            {% endif %}
            </p>
        {% empty %}
            <h2>No results found.</h2>
        {% endfor %}
    </ul>
{% endblock %}